#
# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_STP=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable GPIO and pinctrl
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# Enable SPI for LEDS
CONFIG_SPI=y
CONFIG_SPI_NRFX=y

CONFIG_ZMK_USB_LOGGING=y


# Enable I2C for trackpad
CONFIG_I2C=y
CONFIG_ZMK_MOUSE=y
CONFIG_ZMK_TRACKPAD=y
CONFIG_ZMK_TRACKPAD_TICK_DURATION=3
CONFIG_ZMK_TRACKPAD_PHYSICAL_X=650
CONFIG_ZMK_TRACKPAD_PHYSICAL_Y=1065
CONFIG_ZMK_TRACKPAD_LOGICAL_X=700
CONFIG_ZMK_TRACKPAD_LOGICAL_Y=1200
CONFIG_ZMK_TRACKPAD_REVERSE_SCROLL=y
CONFIG_GEN4=y
CONFIG_GEN4_TRIGGER_GLOBAL_THREAD=y

# Enable writing to flash
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable 32kHz crystal
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_150PPM=y

# RGB leds config
CONFIG_WS2812_STRIP=y


# Backlighting configuration
CONFIG_PWM=y
CONFIG_LED_PWM=y
CONFIG_ZMK_BACKLIGHT=y
CONFIG_ZMK_BACKLIGHT_BRT_START=25
CONFIG_ZMK_BACKLIGHT_BRT_STEP=25
CONFIG_ZMK_BACKLIGHT_AUTO_OFF_IDLE=y

# BT configuration
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y
CONFIG_BT_DIS_MANUF="Kinesis Corporation"

# Misc configuration
CONFIG_USB_DEVICE_VID=0x29EA
#CONFIG_USB_DEVICE_PID=0x0362
CONFIG_USB_DEVICE_MANUFACTURER="Kinesis Corporation"

CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y
CONFIG_ZMK_HID_CONSUMER_REPORT_USAGES_BASIC=y
CONFIG_BUILD_OUTPUT_UF2=y


#CONFIG_ZMK_USB_LOGGING=y
